/**************************
Global styling starts here
**************************/

/* Set all font */
* {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

/* Remove margin */
body {
    margin: 0px;
}

/* Header/top navigation */
.topnav {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
}

/* Set the right-aligned nav to not stick against the logo */
.topnav-left {
    flex-grow: 1;
}

/* Adjust logo size */
.topnav-left img {
    height: 100%;
    width: 350px;
}

/* Set ul to be side-by-side instead of a list */
.topnav-right ul {
    display: flex; 
    list-style: none;
}

/* Style all links in topnav */
a {
    float: left;
    color: rgb(136, 133, 133);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.hover {
    background-color: red;
    color: white;
}

/***** Footer *****/
footer {
    background-color: rgb(110, 110, 110);
    text-align: center;
    color: white;
    padding: 20px;
}

/**************************
Global styling ends here
**************************/




/* Full screen background image and align text box */
.masthead {
    background-image: url("../media/headquarters.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Vertical center alignment */
    display: flex;
    align-items: center;
}

/* Adjust size, color and position of text box */
.masthead div {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 400px;
}

/* Adjust text */
.masthead h1 {
    font-size: 2.0em;
}
.masthead p {
    font-size: 1.3em;
}




/*****************
Responsive styling
******************/

@media screen and (max-width: 1200px){
    .topnav {
        flex-direction: column;
    }

    .masthead {
        justify-content: center;
    }

    .masthead div {
        font-size: 1em;
        padding: 30px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 900px){
    .masthead > div {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 600px){
    .masthead > div {
        font-size: 0.7em;
    }
}